-
  sections = [
    { path: '/portfolio', title: 'Портфолио' },
    { path: '/blog', title: 'Блог' }
  ]

mixin header(currentSection, currentSubsection)
  .header
    .header__content.content
      .header__sections
        if section === '/'
          .header__title
            | Алексей Иванченко
        else
          a.header__title(href="/")
            | Алексей Иванченко

        each section in sections
          if currentSection === section.path && !currentSubsection
            .header__section.header__section--current= section.title
          else if currentSection === section.path
            a.header__section.header__section--current(href=section.path)= section.title
          else
            a.header__section(href=section.path)= section.title
      
      .header__contacts
        | +375 (29) 391-42-11
