header-font-size     = .9rem
text-color           = #222222
accent-color         = #FFDB4D
hover-color          = #EEEEEE
mobile-border-color  = #DEDEDE
mobile-back-color    = #F7F7F7

.header
  width: 100%
  padding: 1.5rem 0
  vertical-align: bottom
  -webkit-font-smoothing: antialiased
  -webkit-overflow-scrolling: touch
  white-space: nowrap
  overflow-x: scroll
  font-family: "-apple-system", "Helvetica Neue", "Helvetica", "Arial", sans-serif

  &__title
    display: inline-block
    box-sizing: border-box
    font-size: (header-font-size + .35rem)
    font-weight: 500
    margin-right: 3rem

    &:link, &:visited
      color: text-color
      text-decoration: none

      &:hover
        color: (accent-color - #111)

  &__sections
    display: inline-block
    box-sizing: border-box
    width: 70%

  &__section
    display: inline-block
    box-sizing: border-box
    color: text-color
    margin-right: 1rem
    text-align: center
    transition: all 0.15s ease-in-out
    text-decoration: none
    padding: 0 .75rem
    line-height: 175%

    &:hover
      background: hover-color
      
    &--current,
    &--current:hover
      background: accent-color

  &__contacts
    display: inline-block
    width: 30%
    text-align: right
    
@media (min-width: 0) and (max-width: 1000px)
  .header
    border-bottom: 1px solid mobile-border-color
    background-color: mobile-back-color
    padding: 1rem 0
    font-size: header-font-size
    
    &__title
      font-size: header-font-size
      margin-right: 1.5rem

    &__sections,
    &__contacts
      width: auto