mixin image_uploader()
  form.image_uploader
    .image_uploader__content
      | Загрузить изображения
    input.image_uploader__input(
      name='images',
      type='file',
      multiple='multiple'
    )