.image_uploader
	width: 60%
	height: 80px
	border: 3px dashed #CCC
	padding-right: 1rem
	box-sizing: border-box
	margin-bottom: 2rem
	color: #CCC
	transition: all 200ms ease-in-out

	&--unsupported
		display: none

	&.drag
		background-color: #AAA
		border-color: white
		color: white
	
	&:hover
		cursor: pointer
		border-color: #AAA
		color: #AAA

	&__content
		width: 100%
		height: 100%
		text-align: center
		vertical-align: middle
		padding-top: 1.75rem
		font-weight: 600

	&__input
		opacity: 0
		width: 0
		height: 0

@media (min-width: 0) and (max-width: 1000px)
	.image_uploader
		width: 100%
		