mixin banner()
  .banner
    .banner__text
      | Пиши долго. Пиши 
      a.link(href="https://soviet.glvrd.ru/")
        | много
      | . Пиши о том, что прёт
    .banner__button
      a.button.button--submit(href="/blog/new")
        | Написать в блог