.banner
  display: table
  box-sizing: border-box
  width: 100%
  border: 1px solid #DDD
  border-radius: 2px
  padding: .75rem 1.25rem
  margin: 0 0 1.25rem 0
  
  &__text
    display: table-cell
    vertical-align: middle

  &__button
    display: table-cell
    vertical-align: middle
    text-align: right
    
@media (min-width: 0) and (max-width: 1000px)
  .banner
    &__text,
    &__button
      text-align: left
      display: block
      
    &__text
      margin-bottom: .5rem