mixin article(item, rootPath, permissions)
  .article(
    itemscope=""
    itemtype="http://schema.org/Article"
  )
    a.article__title(
      href=rootPath + "/" + item.url
      itemprop="name"
    )= item.title

    .article__paragraphs(itemprop="articleBody")
      each paragraph in item.htmlParagraphs
        p.article__paragraph(itemprop="articleSection") !{paragraph}

    div.article__actions
      a.article__action(itemprop="dateCreated")= moment(item.createdAt).format("D MMMM, HH:MM")

      if permissions.canEditArticles
        a.article__action(href=rootPath + "/" + item.url + "/edit")
          | Редактровать

      if permissions.canDeleteArticles
        a.article__action(href=rootPath + "/" + item.url + "/delete")
          | Удалить