.article
  max-width: 800px
  margin-bottom: 2rem

  &__title
    display: inline
    font-size: 3rem
    text-decoration: none
    font-weight: 500
    color: #000

    border-bottom: 1px solid (#000 + #CCC)

  &__paragraphs
    margin-top: 1rem
    margin-bottom: 1.5rem

  &__paragraph
    line-height: 125%
    margin-bottom: .5rem
    
    img
      max-width: 100%

  &__actions
    display: block
    color: #888
    font-size: .8rem

  &__action
    display: inline-block
    margin-right: 1rem
    text-decoration: none
    color: inherit

    &:link
      &:hover
        cursor: pointer
        color: #d04000

@media (min-width: 0) and (max-width: 1000px)
  .article
    &__title
      font-size: 1.5rem

    &__paragraphs
      margin-top: .5rem
      margin-bottom: .5rem
