include /news_item/news_item.pug

mixin showcase(articles, profile)
  .showcase.content
    .showcase__large_column(
      itemscope=""
      itemtype="http://schema.org/Person"
    )
      img.showcase__image(
        src="/static/images/me.jpg"
        itemprop="image"
      )
      h2.showcase__title
        | Фотограф
        span(itemprop="name")
          |  Алексей Иванченко
      .showcase__text #{profile.text}
      .showcase__tags
      .showcase__text
        | Тел.:
        a.showcase__link(
          href="tel:+375293914211"
          itemprop="telephone"
        )
          |  +375 (29) 391-42-11
      .showcase__text
        if profile.vk_url
          a(href=profile.vk_url)
            img.showcase__icon(src="/static/images/vk_icon.svg")

        span #{" "}

        if profile.instagram_url
          a(href=profile.instagram_url)
            img.showcase__icon.showcase__icon--instagram(src="/static/images/instagram_icon.svg")

    .showcase__small_column
      .showcase__blog
        .showcase__blog_title
          | Новая запись в блоге:
        each article in articles
          +news_item(article)
