.showcase
  color: #222222
  margin: 0 auto
  padding-top: 3rem
  margin-bottom: 4rem

  &__large_column
    display: inline-block
    padding-right: 4rem
    box-sizing: border-box
    width: 66.6%

  &__small_column
    display: inline-block
    padding-left: 2rem
    box-sizing: border-box
    width: 33.3%
    vertical-align: bottom

  &__image
    width: 200px
    height: 200px
    border-radius: 200px
    margin-bottom: 1.75rem

  &__text
    font-size: 1.25rem
    line-height: 130%
    margin-bottom: .5rem
    white-space: pre-line

  &__blog
    font-size: 1rem
    line-height: 130%
    margin-bottom: .5rem

  &__blog_title
    font-size: .85rem
    margin-bottom: 1rem

  &__icon
    height: 2rem
    vertical-align: middle
    fill: #222222

    &:hover
      opacity: .6

    &--instagram
      height: 1.5rem

  &__link
    color: inherit
    text-decoration: none
    border-bottom: 1px solid #AAA

    &:hover
      border-color: #777

@media (min-width: 0) and (max-width: 1000px)
  .showcase
    padding-top: 1rem

    &__image
      width: 100px
      height: 100px
      margin-bottom: 1rem

    &__text
      font-size: .9rem

    &__large_column
      padding-right: 0
      width: 100%

    &__small_column
      padding-left: 0
      width: 100%
