mixin mywed_logo()
  .mywed-logo
    a.mywed-logo__link(
      href='https://mywed.com/'
      target='_blank'
    )
      img.mywed-logo__image(
        src='https://mywed.com/images/mywed-logo/Logo_Black.svg'
      )
