.button
  font-size: 15px
  display: inline-block
  line-height: 125%
  padding: .4rem .7rem
  border-radius: 4px
  text-decoration: none
  margin-right: .5rem

  color: black
  border: 1px solid #CCC

  &:hover
    cursor: pointer
    border-color: #AAA

  &:active
    background-color: #f0f0f0
  
  &--submit
    border-color: transparent
    background-color: #ffdb4d

    &:hover
      border-color: transparent
      background-color: #ffe052

    &:active
      background-color: #fc0