extends ../page.pug

include /banner/banner.pug
include /article/article.pug

block title
  title Блог — Фотограф Алексей Иванченко

block content
  .content
    
    if permissions.canWriteArticles
      +banner()

    if page == 1
      a.button(href="..")
        | ↑ Позднее
    if page > 1
      a.button(href="/blog/page/" + (page - 1))
        | ↑ Позднее

    each article in articles
      +article(article, '/blog', permissions)
    else
      h2
        | Статей нет.

    if canLoadMore
      a.button(href="/blog/page/" + (page + 1))
        | ↓ Ранее
    