.news_item
  &__title
    font-weight: normal

  &__date
    color: gray
    font-size: .85rem

  &__thumbnail
    display: block
    text-decoration: none
    height: 240px
    background-size: cover
    background-position: center
    margin-bottom: .5rem
