mixin news_item(news)
  .news_item
    a.news_item__thumbnail(
      href="/blog/" + news.url
      style="background-image: url(" + news.thumbnail + ")"
    )
    a.news_item__title.showcase__link(href="/blog/" + news.url)= news.title
    .news_item__date= moment(news.createdAt).format("D MMMM, HH:MM")