meta(name="viewport", content="width=device-width")
meta(name="yandex-verification", content="029d9a6c13c7511b")
link(rel="stylesheet", href="/static/styles/style.css")
link(rel="icon", href="/static/images/favicon.ico", type="image/x-icon")
link(rel="apple-touch-icon-precomposed", href="/static/images/apple-icon-precomposed.png")
