include /header/header.pug
include /footer/footer.pug

doctype html
html
  head
    block title
      title Фотограф Алексей Иванченко
    include assets.pug

  body
    +header(section, subsection)

    block content

    script(defer, src="/static/scripts/built.min.js")

    +footer()
