extends ../page.pug

include /mywed_logo/mywed_logo.pug
include /portfolio_item/portfolio_item.pug
include /showcase/showcase.pug

block title
  title Фотограф Алексей Иванченко

block content
  +showcase(articles, profile)

  .portfolio
    each item in portfolioItems
      +portfolioItem(item)
