*
  margin: 0;
  padding: 0;

.content
  width: 100%
  max-width: 1200px
  margin: 0 auto
  box-sizing: border-box

  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;

h1
  font-size: 3rem
  font-weight: 500
  margin-bottom: 1rem

h2
  font-size: 1.75rem
  font-weight: 500
  margin-bottom: 1rem

h3
  font-size: 1.75rem
  font-weight: 400
  margin-bottom: .25rem
  
p
  font-size: 18px
  line-height: 150%

@media (min-width: 0) and (max-width: 1000px)
  h1
    font-size: 1.5rem
    margin-top: 1rem
    margin-bottom: .5rem

  h2
    font-size: 1.25rem
    margin-bottom: .5rem

  p
    font-size: .8rem

@media (min-width: 0) and (max-width: 1400px)
  .content
    padding-left: 1rem
    padding-right: 1rem
