extends ../page.pug

include /portfolio_item/portfolio_item.pug

block title
  title Портфолио — Фотограф Алексей Иванченко

block content
  .portfolio
    each item in portfolioItems
      +portfolioItem(item)

