extends ../page.pug

include /photo/photo.pug

block title
  title #{portfolio.title} — Фотограф Алексей Иванченко

block content
  .content
    h1= portfolio.title
    p(style="max-width: 780px; margin-bottom: 2rem")= portfolio.description

    .photos
      each photo in portfolio.photos
        +photo(portfolio, photo)

