.article_form

  margin-bottom: 2rem
  -webkit-font-smoothing: subpixel-antialiased

  &__title

  &__field
    width: 100%
    margin-bottom: 1rem

    &--hidden
      display: none

  &__name
    width: 20%
    text-align: left
    font-size: .85rem
    line-height: 175%

  &__edit
    width: 60%

  &__description
    width: 20%
  
  &__input,
  &__textarea
    width: 100%
    padding: .4rem .5rem
    font-size: 14px
    outline: none
    border: 1px solid #CCC

    &:focus
      border-color: #fc0
      box-shadow: 0 0 0 1px #fc0
    &.is-invalid
      border-color: red

  &__textarea
    height: 300px

  &__error_message
    display: inline
    color: #FF1122
    font-size: .75rem
    
@media (min-width: 0) and (max-width: 1000px)
  .article_form
    &__edit
      width: 100%
