include /image_uploader/image_uploader.pug

mixin form(article)
  form.article_form

    if article.id
      h1.article_form__title
        | Изменить запись в блоге
    else
      h1.article_form__title
        | Создать запись в блоге

    div.article_form__field.article_form__field--hidden
      input.article_form__input(
        name="articleId",
        type="text",
        value=article.id
      )

    div.article_form__field
      label.article_form__name(for="articleTitle")
        | Заголовок
      div.article_form__edit
        input.article_form__input(
          name="articleTitle",
          type="text",
          value=article.title
        )
      div.article_form__description

    div.article_form__field
      label.article_form__name(for="articleURL")
        | URL
      div.article_form__edit
        input.article_form__input(
          name="articleURL",
          type="text",
          value=article.url
        )
      div.article_form__description

    div.article_form__field
        label.article_form__name(for="articleThumbnail")
          | Заглавная картинка
        div.article_form__edit
          input.article_form__input(
            name="articleThumbnail",
            type="text",
            value=article.thumbnail
          )
        div.article_form__description

    div.article_form__field
      label.article_form__name(for="articleParagraphs")
        | Текст
      div.article_form__edit
        textarea.article_form__textarea(name="articleParagraphs")= article.paragraphs
      div.article_form__description

  +image_uploader()

  if article.id
    div.button.button--submit.article_form__save
      | Сохранить
  else
    div.button.button--submit.article_form__create
      | Создать

  a.button(href="/blog")
    | Отмена

  div.article_form__error_message
