.photos
  display: flex
  flex-flow: row wrap
  align-items: flex-start
  margin: 0 auto
  margin-bottom: 3rem

  &__container
    display: table-cell
    vertical-align: top

.photo
  flex: 0 0 33.3%
  padding-right: 3px
  box-sizing: border-box
  text-decoration: none

  &__title
    color: #5E4347
    text-decoration: none
    font-size: 1.2rem

  &__image
    width: 100%

  &--album
    flex: 0 0 69.15%

  &--book 
    flex: 0 0 30.85%

  &--single
    flex: 0 0 100%