mixin photo(portfolio, photo)
  .photo(
    class={
      "photo--single": photo.size === 'single',
      "photo--book": photo.size === 'book',
      "photo--album": photo.size === 'album'
    }
  )
    img.photo__image(src="/images/" + portfolio.url + "/photos/" + photo.url)