mixin portfolioItem(item)
  a.portfolio_item(
    href="/portfolio/" + item.url
    class={
      "portfolio_item--double": item.size === "big",
      "portfolio_item--black": item.textColor === "black"
    },
    style="background-image: url('/images/" + item.url + "/" + item.image + "')"
  )
    .portfolio_item__title= item.title
    .portfolio_item__tagline= item.tagline