.portfolio_item
  position: relative
  flex: 0 1 20%
  height: 580px
  background-color: #DEDEDE;
  background-position: center
  background-size: cover
  color: white
  box-shadow: inset 0 0 (580px / 2) rgba(0, 0, 0, .15);
  transition: all 150ms ease-out;
  text-decoration: none

  &:hover
    cursor: pointer;
    box-shadow: inset 0 0 30px transparent;

  &--double
    flex: 0 1 40%

  &--black
    color: black;

  &__title
    font-size: 2rem
    line-height: 150%
    text-align: center
    padding-top: 3rem
    box-sizing: border-box

  &__tagline
    text-align: center

@media (min-width: 0) and (max-width: 700px)
  .portfolio_item
    flex-basis: 100%

@media (min-width: 700px) and (max-width: 1000px)
  .portfolio_item
    flex-basis: 50%
    &--double
      flex-basis: 100%

@media (min-width: 1000px) and (max-width: 1400px)
  .portfolio_item
    flex-basis: 33.3%
    &--double
      flex-basis: 66.6%

@media (min-width: 1400px) and (max-width: 1800px)
  .portfolio_item
    flex-basis: 25%
    &--double
      flex-basis: 50%

